site_name: investigraph
site_url: https://docs.investigraph.dev
repo_url: https://github.com/investigativedata/investigraph
nav:
  - Overview: index.md
  - tutorial.md
  - install.md
  - Documentation:
      - reference/index.md
      - reference/config.md
      - reference/cli.md
      - reference/extract.md
      - reference/transform.md
      - reference/load.md
      - reference/aggregate.md
      - reference/settings.md
  - Concepts:
      - concepts/catalog.md
      - concepts/dataset.md
      - concepts/entity.md
  - Stack:
      - stack/runpandarun.md
      - stack/followthemoney.md
      - stack/nomenklatura.md
theme:
  name: material
  logo: https://cdn.investigativedata.org/style/logos/darc/svg/DARC-Logo-RGB-Horizontal-Neg.svg
  favicon: https://cdn.investigativedata.org/style/logos/darc/favicon.ico
  custom_dir: docs/overrides
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.sections
    # - navigation.footer
    - toc.follow
    - content.code.copy
extra_css:
  - stylesheets/extra.css
extra:
  social:
    - icon: material/mail
      link: mailto:hi@dataresearchcenter.org
    - icon: material/web
      link: https://dataresearchcenter.org
    - icon: material/github
      link: https://github.com/openaleph/openaleph-procrastinate
    - icon: material/linkedin
      link: https://www.linkedin.com/company/dataresearchcenter/
markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.details
  - admonition
  - pymdownx.tasklist:
      custom_checkbox: true
plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google
            show_root_heading: false
            show_object_full_path: false
